<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link href="../static/cover.css" rel="stylesheet"> -->
    <title>GlimpsePredictive</title>
  </head>
  <body>
    <!-- Page Content -->
    <div class="text-dark container col-9">
      <!-- Jumbotron Header -->
      <header class=" jumbotron jumbotron-fluid my-0 p-4">
        <h1 class="strong"><center>GlimpsePredictive</center></h1>
        <p></p>
        <h2 class="strong"><center><span class="small text-muted">Matching Students to Optimal Learning Environments </span></center></h2><hr class="my-4">
        <p class="lead"><center>No two students and no two learning environments are the same.</center></p>
        <p class="lead"><center>We're here to help make the right match.</center></p>
      </header>
      <!-- Page Features -->
      <h2></h2>
          <div class="dropdown"><center>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose the student ID</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>45197</center></a>
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>45223</center></a>
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>50757</center></a>
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>45216</center></a>
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>50805</center></a>
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>55193</center></a>
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>51254</center></a>
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>45139</center></a>
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>50986</center></a>
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>51257</center></a>
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>51196</center></a>
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>56096</center></a>
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>51128</center></a>
                <a class="dropdown-item" href="{{ url_for('teachers')}}"><center>52013</center></a>
              </div></center>
          </div>

              </div>
            </div>
          </div>
        </div>
      </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>
</html>