<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link href="../static/cover.css" rel="stylesheet"> -->
    <title>GlimpsePredictive</title>
  </head>
  <body>
    <!-- Page Content -->
    <div class="text-dark container col-9">
      <!-- Jumbotron Header -->
      <header class=" jumbotron jumbotron-fluid my-0 p-4">
        <h1 class="strong"><center>GlimpsePredictive</center></h1>
        <p></p>
        <h2 class="strong"><center><span class="small text-muted">Matching Students to Optimal Learning Environments</span></center></h2><hr class="my-4">
        <p class="lead"><center>No two students or learning environments are the same.</center></p>
        <p class="lead"><center>Using student and teacher information, we predict which student-teacher matches are most likely to result in optimal achievement scores.</center></p>
      </header>
      <!-- Page Features -->
      <!-- Page Features -->
      <h2></h2>
          <div class="dropdown">
            <center>
            	<div class="mt-5 row text-center">
			        <div class="mx-auto">
			          <div class="bg-light text-dark card mx-auto">
			            <div class="card-body">

			              <form action="{{ url_for('predictions') }}" method="GET" role="form">
			                <label class="mt-4" for="GlimpseId">Choose the student's ID:</label>
			                <select class="form-control custom-select" name="GlimpseId" id="GlimpseId">
			                <optgroup label="Third Graders">
			                  <option value="84">84</option>
			                  <option value="129">129</option>
			                  <option value="336">336</option>
			                  <option value="342">342</option>
			                  <option value="345">345</option>
			                  <option value="353">353</option>
			                  <option value="357">357</option>
			                </optgroup>
			                <optgroup label="Fourth Graders">
			                  <option value="215">215</option>
			                  <option value="221">221</option>
			                  <option value="232">232</option>
			                  <option value="280">280</option>
							  <option value="642">642</option>
			                  <option value="881">881</option>
			                  <option value="1241">1241</option>
			                </optgroup>
			                </select>
      <h1></h1>
	      <div class="dropdown">
	                    <form action="{{ url_for('predictions') }}" method="GET" role="form">
	                      <label class="mt-4" for="grade">Choose the grade the student will enter:</label>
	                      <select class="form-control custom-select" name="grade" id="grade">
	                        <option value="3">Third</option>
	                        <option value="4">Fourth</option>
	                        <option value="5">Fifth</option>
	                      </optgroup>
	                      </select>
                      
			              <button type="submit" class="mt-4 mb-1 btn btn-success">Confirm ID and Grade</button></form>
	                	</div>
          			  </div>
	                </div>
	            </div>
	        </center>
          </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>
</html>